*{
    margin: 0;
    padding: 0;
}
.wrapper{
    width: 1200px;
    margin: 0 auto;
}


.logo{
    width: 100%;
    height: 50px;
    background: turquoise;
    border-radius: 7px;
    margin-bottom: 15px;
}
.logo>h1{
    font-size: 22px;
    margin-left: 20px;
    padding-top: 10px;
}
nav>ul{
    width: 100%;
    height: 40px;
    background: black;
    border-radius: 5px;
}
nav>ul>li{
    display: inline;
    margin-left: 25px;
    line-height: 35px;
}
nav>ul>li>a{
    color: white;
    text-decoration: none;
    font-size: 17px;
    transition: linear 0.2s;
}
nav>ul>li>a:hover{
    font-size: 20px;
    text-decoration: underline;
}
.than{
    display: grid;
    grid-template-columns: 80% 20%;
    margin-top: 15px;
    margin-bottom: 15px;
}


/*  CSS slide show  */
* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}
/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */


/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}
/* --------------------------------------------------------- */

.sanpham{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 13px;
}
.sanpham1{
    width: 290px;
    height: 280px;
    border: 1px solid rgb(231, 224, 224);
    margin-left: 10px;
    border-radius: 5px;
    padding: 5px;
}
.sanpham1 img{
    margin-left: 3px;
    width: 270px;
    height: 200px;
    margin-bottom: 10px;
    text-align: center;
    margin-top: 10px;
}
.sanpham1 a span{
    font-size: 23px;
}
.sanpham1 a p {
    font-size: 18px;
}
.sanpham1 a{
    text-decoration: none;
    color: black;
}
.content{
    margin-left: 15px;
}
.login{
    border: 1px solid rgb(223, 215, 223);
    border-radius: 6px;
    height: 336px;
}
.login>.text{
    height: 40px;
    background: rgb(223, 215, 223);
    margin-bottom: 20px;
}
.login>.text>h1{
    font-size: 15px;
    padding-top: 10px;
    margin-left: 10px;
}
.login>form{
    margin-left: 25px;
}

.login>form>p{
    margin-bottom: 3px;
}
.login>form>input{
    margin-bottom: 10px;
}
.login>form>button{
    margin-bottom: 7px;
    background: rgb(211, 205, 205);
    padding: 4px;
    border-radius: 5px;
    border: 1px solid rgb(185, 179, 197);
}
.login>form>ul{
    margin-left: 17px;
}
.login>form>ul>li>a{
    text-decoration: none;
}
.danhmuc{
    margin-top: 15px;
    border: 1px solid rgb(223, 215, 223);
    border-radius: 6px;
}
.top{
    height: 40px;
    background: rgb(223, 215, 223);
}
.top>p{
    font-size: 18px;
    padding-top: 5px;
    margin-left: 10px;
}
.top form{
    padding-top: 7px;
}
.top>form>input{
    margin-top: 3px;
    margin-left: 5px;
    border-radius: 6px;
    border: 1px solid rgb(223, 215, 223);
    height: 20px;
    width: 150px;
}
.search{
    height: 28px;
    background: white;
    border: 1px solid  rgb(236, 219, 219);
    border-radius: 5px;
}
.search:hover{
    color: white;
    background: steelblue;
}
.danhmuc>.text1{
    border-bottom: 1px solid rgb(223, 215, 223);
    padding: 5px;
    padding-left: 20px;
}

.danhmuc>.text1>a{
    text-decoration: none;
    color: black;
}
.yeuthich{
    margin-top: 15px;
    border: 1px solid rgb(223, 215, 223);
    border-radius: 6px;
}

.danhmuc>.text1:hover{
    background: #bbb;
}
.yeuthich>.text1{
    /* border-bottom: 1px solid rgb(223, 215, 223); */
    padding: 5px;
    padding-left: 15px;
    margin-bottom: 10px;
}

.yeuthich>.text1>a{
    text-decoration: none;
    color: black;
}
.yeuthich>.text1>a>img{
    width: 70px;
    height: 70px;
}
.yeuthich>.text1>a{
    display: block;
}



footer{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    color: white;
    background: black;
    height: 150px;
    border-radius: 3px;
}
footer>img{
    margin-top: 50px;
    margin-left: 40px;
}
.cocau{
    margin-top: 20px;
}
.cocau>ul>li{
    list-style: none;
    line-height: 23px;
}
.lienhe{
    line-height: 23px;
    margin-left: 100px;
    margin-top: 20px;
}